<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" mehtod="POST">
        {% csrf_token %}
    <h2>Home Template</h2>
    <a href=" {% url 'detail' 1 %}"> stdent 1</a>
    <a href=" {% url 'detail' 2 %}"> stdent 2</a>
    <a href=" {% url 'detail' 3 %}"> stdent 3</a>

    <a href=" {% url 'subdetail' 1 5 %}"> Sub details 5 </a>
    <a href=" {% url 'subdetail' 2 6 %}"> sub details 6</a>
    <a href=" {% url 'subdetail' 3 7 %}"> sub details 7</a>
</form>
</body>
</html>